<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div th:fragment="navigation">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/index}"><img th:src="@{/img/logotipos/Logomakr_19IOno.png}" alt="logotipo" width="130px" height="50px"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ml-auto">
                        <form class="form-inline" method="post"> <!-- th:action="@{/search}" aun no funciona -->
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-secondary search-style"><i class="material-icons">search</i></button>
                                  </span>
                                <input class="form-control mr-sm-2 search-style" type="search" placeholder="Buscar un producto..." aria-label="Search" required="" th:field="*{search}"/>
                            </div>
                            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                        </form>
                        <div class="dropdown">
                            <button class="dropdown-toggle categories-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nuestros productos
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a th:each="category : ${categories}" class="dropdown-item" th:href="@{/fproducts?category=__${category.name}__}"><span th:text="${category.name}"> </span></a>
                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/questions}">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">
                                <span class="keys">{</span>
                                Iniciar sesión
                                <span class="keys">}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="keys">{</span>
                                Registrate
                                <span class="keys">}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <!--./navigation-->
</body>
</html>