<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div th:fragment="navigation">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/index}"><img th:src="@{/img/logotipos/Logomakr_19IOno.png}" alt="logotipo" width="130px" height="50px"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <form class="form-inline" method="post" th:action="@{/search}">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-secondary search-style"><i class="material-icons">search</i></button>
                                  </span>
                                <input class="form-control mr-sm-2 search-style" type="search" placeholder="Buscar un producto..." aria-label="Search" required="" th:id="search" th:name="search"/>
                            </div>
                        </form>

                        <div class="dropdown">
                            <button class="dropdown-toggle categories-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nuestros productos
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a th:each="category : ${categories}" class="dropdown-item" th:href="@{/fproducts?category=__${category.name}__}"><span th:text="${category.name}"> </span></a>
                            </div>
                        </div>

                        <li th:classappend="${#httpServletRequest.requestURI.contains('about')} ? 'active' : ''" class="nav-item">
                            <a class="nav-link" th:href="@{/about}">Nosotros</a>
                        </li>

                        <li th:classappend="${#httpServletRequest.requestURI.contains('questions')} ? 'active' : ''" class="nav-item" >
                            <a class="nav-link" th:href="@{/questions}">Preguntas frecuentes</a>
                        </li>

                        <li th:if="${session.userGlobal == null}" class="nav-item">
                            <a class="nav-link" th:href="@{/login}">
                                <span class="keys">&nbsp;&nbsp;&nbsp;{</span>
                                Iniciar sesión
                                <span class="keys">}</span>
                            </a>
                        </li>
                        <li th:if="${session.userGlobal == null}" class="nav-item" th:classappend="${#httpServletRequest.requestURI.contains('registro')} ? 'active' : ''">
                            <a class="nav-link" th:href="@{/registro}">
                                <span class="keys">{</span>
                                Registrate
                                <span class="keys">}</span>
                            </a>
                        </li>

                        <li th:if="${session.userGlobal != null}" class="nav-item">
                            <a class="nav-link" th:href="@{/shopping_cart/showcart?id_user=__${session.userGlobal.id}__}">
                            <div>
                                <i class="material-icons">shopping_cart</i>
                                <span class="badge badge-secondary">0</span>
                            </div>
                            </a>
                        </li>
                        <div th:if="${session.userGlobal != null}" class="dropdown">
                            <button class="dropdown-toggle categories-dropdown arrow" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a class="user" href="#">
                                    <span th:text="${session.userGlobal.username}"> </span>
                                </a>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                <a class="dropdown-item" href="#">
                                    <i class="material-icons md-18">edit</i>
                                    Editar cuenta
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript: document.logoutForm.submit()">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Cerrar sesión
                                </a>
                                <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                                    <input type="submit" hidden="" />
                                </form>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <script th:src="@{https://use.fontawesome.com/86f0b2995e.js}"></script>
    </div>
    <!--./navigation-->
</body>
</html>