<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div th:fragment="navigation">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/index}"><img th:src="@{/img/logotipos/Logomakr_19IOno.png}" alt="logotipo" width="130px" height="50px"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/fproducts}">Nuestros productos
                                <!--<span class="sr-only">(current)</span>-->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/questions}">Preguntas frecuentes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}">
                                <span class="keys">&nbsp;&nbsp;&nbsp;{</span>
                                Iniciar sesión
                                <span class="keys">}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="keys">{</span>
                                Registrate
                                <span class="keys">}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <!--./navigation-->
</body>
</html>