<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Error 403</title>

    <link rel="stylesheet" th:href="@{/css/errores.css}"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'/>
</head>
<body>
    <div class="recuadro">
        <img class="margen" th:src="@{/img/Logotipos/Logomakr_19IOno.png}" alt="" />
        <br></br>
        <hr></hr>
        <h4> ERROR 403 </h4>
        <hr></hr>
        <h5>El servidor ha sido capaz de entender la petición del cliente, pero se niega a cumplirla. </h5>
        <p>
            <a th:href="@{/index}"><img th:src="@{/img/back.png}" alt="" width="35px" height="45px" /><span> Ir a página principal... </span></a>
        </p>
    </div>
</body>
</html>