/* -------------------------------- products.html -------------------------------*/
/*hide a column*/
.hidden{
    visibility: hidden;
}

th{
    text-align: center;
}

.center{
    text-align: center;
}

.vertical-center{
    vertical-align: middle;
}

/* resize for the images of the products */
.resize-column{
    width: 22%;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #428bca;
    border-color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
    border-color: #5cb85c;
}
.btn-info.btn-outline {
    color: #5bc0de;
    border-color: #5bc0de;
}
.btn-warning.btn-outline {
    color: #f0ad4e;
    border-color: #f0ad4e;
}
.btn-danger.btn-outline {
    color: #d9534f;
    border-color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}