/* --------- EN GENERAL: --------- */

/* Tipo de fuente de toda la página */
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #1c334a;
}

/* Color de fondo del header */
.navbar-fondo{
	background-color: black;
	border-color: black;
}

/* Letra blanca del header */
.navbar-usuario{
	color:white;
}

/* Color de los menus izquierdos */
.menu-lateral{
	background-color: #1c334a;
}

/* Color del texto de los menus izquierdos */
.letra-menu-lateral{
	color:white;
}

/* Hover de los menus de la izquierda */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: black;
  color:white;
}

/* Color de fondo de "Pagina principal" */
.sidebar ul li a.active {
  background-color: #386694;
  color:white;
}

.sidebar ul li a.active:hover {
  background-color: black;
  color:white;
}

/* Tamaño y Tipo de fuente del titulo "OPTICAS CRISTAL" */
.letra-titulo{	
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 100;
}

/* Color del titulo "OPTICAS CRISTAL" */
.color-titulo{
	color:white;
}

/* Color de fondo al abrir la configuración (Debajo del usuario activo) */
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
  background-color: #1c334a;
  color:white;
}

/* Color de fuente de la "Configuración" y "Cerrar sesión" */
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
  color:white;
}

/* Color del divisor entre "Configuracion" y "Cerrar Sesión" */
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #386694;
}

/* Color de fondo azul mas ligero de "Configuración" y "C.S." cuando 
se hace hover y letra blanca*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #386694;
}

/* Color de fondo del usuario activo */
.dropdown {
  position: relative;
  background-color: black;
}

.dropdown:hover,
.dropdown:active,
.dropdown:focus{
	background-color: black;
}

/*  */
.fondo-usuario{
	color:blue;
}

/* ---------------------- CLASES PARA editar-usuario.html:  ---------------------- */
.ajuste-padding{
	padding: 0px;
}

.ajuste-margen-inferior{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.fondo-rojo{
	background-color:#cf3c17;
	color:white;
}

/* ----------------------  CLASES PARA nuevo-historial.html: ---------------------- */

/* Imagen principal del Historial */
.logotipo{
	width:65%;
	height:auto;
	margin: 0 auto;
	display: block;
}

/* Para los labels principales, era demasiada grande la letra */
.tam-letra{
	font-size: 9pt;
}

/* Para que al textarea no se le permita el resize */
.reajuste{
	resize: none;
}

/* Dentro de las tablas ponemos inputs "invisibles" y así poder modificarlas */
.input-th{
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;
}

/* Reducimos el tamaño original de Bootstrap con los input's */
.tamanio-input {
  height: 30px;
}

/* Quitamos el padding para que se ajuste a toda el área de la tabla */
.ajuste-tabla{
	padding: 0px;
}

/* Centramos el texto solo de los titulares */
th{
	text-align: center;
}

/* Más oscuros  */
.hr-color{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #b3b3b3;
}

/* Para marcar los pivotes solo del lado derecho  */
.borde-derecho{
	border-right: 1px solid #b3b3b3;
}

/* No margen */
.no-margen-bot{
	margin-bottom: 0px;
}

/* Solo margen inferior, Es del <hr> antes de "SALUD OCULAR" */
.no-margenes{
	margin: 0px 0px 15px 0px;
}
 
/* Inputs más grandes */
.more-size{
	height: 35px;
}

/* Inputs de RX ANTERIOR y TIPO DE LENTE ocupando 50% del espacio */
.mitad-espacio{
	width: 50%;
}

/* <hr> debajo de observaciones */
.no-margen-top{
	margin-top: 5px;
}

/* ----------------------  CLASES PARA historiales.html: ---------------------- */

/* Alineamos los datos del historial con los label correspondientes. */
.alineacion{
	margin-top: 7px;
}

/* Texto centrado dentro de tablas */
.centrado{
	text-align: center;
}

/* ----------------------  CLASES PARA nueva-orden.html ----------------------  */

.panel-green1 {
  border-color: #12876f; 		/*mediano*/
}
.panel-green1 > .panel-heading {
  color: white;  				
  background-color: #16a085; 	/*ligero*/
  border-color: #12876f; 		/*mediano*/
}
.panel-green1 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #12876f; 	/*mediano*/
}
.panel-green1 > .panel-heading .badge {
  color: #dff0d8;
  background-color: white; 	
}
.panel-green1 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #12876f; /*mediano*/
}

.button-green1{
  color: white;  				
  background-color: #16a085; 	/*ligero*/
  border-color: #12876f; 		/*mediano*/
}