/* ---------------------------------------------- index.html ------------------------------------- */
/*'Iniciar sesión' and 'Registrate' keys "{}" */
.keys{
    color: white;
    margin-top: 8px;
}

.h2-letter{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.font-bigger{
    font-size: 14pt;
}

/* slides */
.first-slide{
    background-image: url('../img/novedades/razer-blackwidow-chroma.jpg');
}
.second-slide{
    background-image: url('../img/novedades/samsung-curved1.jpg');
}
.third-slide{
    background-image: url('../img/novedades/XZ1.jpg');
}

/* Color of the Products with descount */
.font-color{
    color: blue;
}

/* Dropdown of categories */
.categories-dropdown{
    background-color: transparent; border-style: none; color: white; margin-top: 0.5em;
}

/* Search input style */
.search-style{
    background-color: transparent;
    color: white;
    border-color: dimgrey;
}

.search-style:focus{
    background-color: transparent;
    color: white;
}

/* Name of the user online */
.user,
.arrow,
.selection{
    color: darkgrey;
    text-decoration: none;
}

.user:hover,
.arrow:hover{
    color: lightgrey;
    text-decoration: none;
}

/* --------------------------------------------- about.html ---------------------------------------- */
.contact-border{
    border: solid darkgrey;
    border-radius: 10px;
    padding: 1.5em;
}

.send-button{
    text-align: center;
}

.send-button-width{
    width: 30%;
}

/* ----------------------------------------------- questions.html --------------------------------------- */
/* Central image */
.center-align{
    text-align: center;
}

/* ----------------------------------------------- login.html --------------------------------------- */
.font-12pt{
    font-size: 12pt;
}

/* ---------------------------------------------- fproducts.html --------------------------------------*/
.margin-bottom{
    margin-bottom: 1em;
}

.image-center-align{
    align-self: center;
}

/* ------------------------------------------------- more.html ------------------------------------------- */
.font-color2{
    color: darkblue;
}

.font-letter{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ---------------------------------------- shopping-cart.html ------------------------------------------- */
.text-darkgrey{
    color:grey;
}
.text-limegreen{
    color: #28a428;
}

.text-justify{
    text-align: justify;
    text-justify: inter-word;
}

.text-smaller{
    font-size: 11pt;
}

.green-area{
    background-color: #eafaf1;
    border-radius: 6px 6px 6px 6px;
    width: 100%;
    margin-left: 0.06em;
}

.shopping-table{
    margin-top: 0.5em;
    background-color: white;
    border: solid grey;
}