<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>CompuCom - Bienvenido</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/half-slider.css}" />
  <link rel="stylesheet" th:href="@{/css/business-frontpage.css}" />

  <div th:replace="front-fragments/fimports::css">&nbsp;</div>
</head>

<body>
  <!-- Navigation -->
  <div th:replace="front-fragments/fheader::navigation">&nbsp;</div>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li th:each="deal,iter : ${deals}" data-target="#carouselExampleIndicators" th:attr="data-slide-to=${iter.index}"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div th:each="deal, iter : ${deals}" class="carousel-item" th:classappend="${iter.index == 0 ? 'active' : ''}" th:style="'background-image: url(' + @{/banner/image(id=${deal.id})} + ');'" >
          <div class="carousel-caption d-none d-md-block">
            <h3 th:text="${deal.title}" th:classappend="${deal.color == 'black'} ? 'black-font' : ''">¡Nuevo!</h3>
            <p th:text="${deal.content}" th:classappend="${deal.color == 'black'} ? 'black-font'">Razer Blackwidow CHROMA</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-4 text-center">
    <div class="card-body">
      <p class="text-white m-0"><b>Atención</b>: esta no es una página real de ventas, no nos hacemos responsables por el uso de sus recursos crediticios en esta página. </p>
    </div>
  </div>

  <!-- Page Content -->
  <section class="py-5" th:if="${!products.isEmpty()}">
    <div class="container">
      <h2 class="h2-letter">¡Productos con descuento!</h2>
      <div class="row">
        <div class="col-sm-4 my-4" th:each="product : ${products}">
          <div class="card">
            <img class="image-center-align" th:src="@{/products/files?id=__${product.id}__}" alt="product-image" width="85%" height="305px"/>
            <div class="card-body">
              <h4 class="card-title font-color" th:text="${product.name}"></h4>
              <p class="card-text">
                <b>Disponibles:</b> <span th:text="${product.productQuantityModel.quantity}"> </span> unidades<br></br>
                <b>Precio:</b> $<span th:text="${product.price}"></span>
                <b th:if="${product.discount.percentage != 0.0}"> (-<span th:text="${product.discount.percentage}"></span>%)</b>
              </p>
              <p class="card-text"><b>Descripción: </b><span th:text="${product.description}"></span></p>
            </div>
            <div class="card-footer">
              <a th:if="${session.userGlobal != null}" th:href="@{/shopping_cart/addtoshoppingcart(id_user=${session.userGlobal.id},id_prod=${product.id})}">
                <button type="button" class="btn btn-outline btn-success"><i class="material-icons">add_shopping_cart</i></button>
              </a>
              <a th:if="${session.userGlobal == null}" th:href="@{/login?logged=1}">
                  <button type="button" class="btn btn-outline btn-success"><i class="material-icons">add_shopping_cart</i></button>
              </a>
              <a th:href="@{/more?id=__${product.id}__}">
                <button type="button" class="btn btn-outline btn-primary font-bigger">Ver más</button>
              </a>
            </div>
          </div>
        </div>
        <!--./col-sm-4 my-4-->

      </div>
      <!-- /.row -->
    </div>
    <!--./container-->
  </section>

  <!-- footer & js -->
  <div th:replace="front-fragments/ffooter::footer">&nbsp;</div>
  <div th:replace="front-fragments/fimports::js">&nbsp;</div>

</body>
</html>
