<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Productos</title>
    <!-- Tell the browser to be responsive to screen width -->
    <div th:replace="fragments/imports::css">&nbsp;</div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="fragments/header::header">&nbsp;</div>
    <div th:replace="fragments/aside::aside">&nbsp;</div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Productos /
                <small>Todos los productos</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Productos</a></li>
                <li class="active">Todos los productos</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row" th:if="${result == 1}">
                <div class="col-lg-4">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Producto añadido correctamente!
                    </div>
                </div>
            </div>
            <div class="row" th:if="${result == 0}">
                <div class="col-lg-4">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Error al añadir producto!
                    </div>
                </div>
            </div>
            <div class="row" th:if="${delete}">
                <div class="col-lg-4">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Producto eliminado correctamente!
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Productos registrados en la Base de Datos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th class="resize-column">Imagen</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td>
                                <b th:text="${product.name}"></b><br></br>
                                <span th:text="${product.description}"></span>
                            </td>
                            <td th:text="${product.category}"> </td>
                            <td>$<span th:text="${product.price}"></span></td>
                            <td><span th:text="${product.discount.percentage}"></span> %</td>
                            <td class="center"><img th:src="@{/products/files?id=__${product.id}__}" alt="Image not found" height="200" width="100%"/></td>
                            <td>
                                <a th:href="@{/products/productform?id=__${product.id}__}">
                                    <button type="button" class="btn btn-outline btn-warning">Editar</button>
                                </a>
                                <br></br>
                                <br></br>
                                <a th:attr="data-href=@{/products/removeproduct?id=__${product.id}__}" data-toggle="modal" data-target="#confirm-delete">
                                    <button type="button" class="btn btn-outline btn-danger">Eliminar</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th>Imagen</th>
                            <th>Editar / Eliminar</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments/aside::aside-right">&nbsp;</div>
    <!-- /.control-sidebar -->
    <div th:replace="fragments/footer::footer">&nbsp;</div>
    <div th:replace="fragments/imports::js">&nbsp;</div>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->

    <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
            </div>

            <div class="modal-body">
                <p>Estás a punto de eliminar un producto, este procedimiento es irreversible.</p>
                <p>¿Quieres proceder?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger btn-ok">Eliminar</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : false,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>

</body>
</html>
