<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>CompuCom - Carrito</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/one-page-wonder.css}" />

    <div th:replace="front-fragments/fimports::css">&nbsp;</div>
</head>

<body onload="calc_total(3);">
<!-- Navigation -->
<div th:replace="front-fragments/fheader::navigation">&nbsp;</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <nav aria-label="breadcrumb" role="navigation">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-limegreen font-letter" th:href="@{/index}">SELECCIÓN</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a class="text-limegreen font-letter" href="#"><b>VERIFICACIÓN DE PRODUCTOS</b></a></li>
                        <li class="breadcrumb-item text-darkgrey">VERIFICACIÓN DE ENVÍO</li>
                        <li class="breadcrumb-item text-darkgrey">MÉTODO DE PAGO</li>
                    </ul>
                </nav>
            </div>
            <!--./col-lg-12-->
        </div>
        <!--./row-->
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group margin-bottom text-justify font-letter text-smaller text-darkgrey">
                        <div class="text-center">
                            <img th:src="@{/img/shopping-cart.png}" alt="shopping-cart-image" height="100%" width="85%"/>
                        </div>
                        <p>Para asegurarnos de que tengas una experiencia de compra agradable con nosotros, te pedimos
                            que por favor verifiques los productos escogidos.</p>
                        <p>Para agregar o quitar productos de un mismo tipo basta con que índiques la cantidad deseable
                            y continues con tú proceso de pago.</p>
                        <p>Para añadir más productos diferentes, puedes ir a escojerlos sin ningun problema, tú carrito
                            de compra se mantendrá aquí <i class="material-icons md-18">insert_emoticon</i></p>
                    </div>
                </div>

                <div class="col-md-9">
                    <table class="table table-hover table-responsive">
                        <caption>*El Precio es sin IVA incluído.</caption>
                        <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio*</th>
                            <th scope="col">Descuento</th>
                            <th scope="col" class="text-center">Subtotal</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" class="col-sm-8 col-md-6">
                                <span style="color:blue;" class="font-letter">RAZER - INALÁMBRICO AMBIDIESTRO OUROBOROS</span>
                            </th>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" class="form-control" min="1" max="12" value="1" size="2" id="cantidad1" onclick="verify(1); calc_total(3);" onkeydown="return false"/>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center">$<span id="precio1">2511.6</span></td>
                            <td class="col-sm-1 col-md-1 text-center"><span id="descuento1">50.0</span>%</td>
                            <td class="col-sm-1 col-md-1 text-center">$<span id="subtotal1">1,255.80</span></td>
                            <td class="col-sm-1 col-md-1 text-center"><button type="button" class="btn btn-danger"><i class="material-icons">delete_forever</i></button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-sm-8 col-md-6">
                                <span style="color:blue;" class="font-letter">RAZER - MOUSE GAMING MULTI-COLOR DEATHADD – NEGRO</span>
                            </th>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" class="form-control" min="1" max="12" value="1" size="2" id="cantidad2" onclick="verify(2); calc_total(3);" onkeydown="return false"/>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center">$<span id="precio2">2511.6</span></td>
                            <td class="col-sm-1 col-md-1 text-center"><span id="descuento2">50.0</span>%</td>
                            <td class="col-sm-1 col-md-1 text-center">$<span id="subtotal2">1255.80</span></td>
                            <td class="col-sm-1 col-md-1 text-center"><button type="button" class="btn btn-danger"><i class="material-icons">delete_forever</i></button></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-sm-8 col-md-6">
                                <span style="color:blue;" class="font-letter">SEAGATE - DISCO DURO PORTÁTIL ULTRASLIM - 2TB - DORADO</span>
                            </th>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" class="form-control" min="1" max="12" value="1" size="2" id="cantidad3" onclick="verify(3); calc_total(3);" onkeydown="return false"/>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center">$<span id="precio3">2511.6</span></td>
                            <td class="col-sm-1 col-md-1 text-center"><span id="descuento3">50.0</span>%</td>
                            <td class="col-sm-1 col-md-1 text-center">$<span id="subtotal3">1255.80</span></td>
                            <td class="col-sm-1 col-md-1 text-center"><button type="button" class="btn btn-danger"><i class="material-icons">delete_forever</i></button></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Subtotal:</b></td>
                            <td>$<span id="subtotal"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>IVA (16%):</b></td>
                            <td>$ <span id="iva"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Total:</b></td>
                            <td>$ <span id="total"></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a th:href="@{/index}"><button type="button" class="btn btn-secondary">Seguir comprando</button></a></td>
                            <td><button type="button" class="btn btn-success" id="btn_continue">Continuar</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--./row green-area-->
        <!--./content of the div centered -->
    </div>
    <!--./container-->
</section>

<!-- footer & js -->
<div th:replace="front-fragments/ffooter::footer">&nbsp;</div>
<div th:replace="front-fragments/fimports::js">&nbsp;</div>
<script th:src="@{/js/shopping-cart.js}"></script>

</body>
</html>
