<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>CompuCom - Carrito</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/one-page-wonder.css}" />

    <div th:replace="front-fragments/fimports::css">&nbsp;</div>
</head>

<body th:onload="'calc_price(' + ${shopping_cart.size()} + ');'">
<!-- Navigation -->
<div th:replace="front-fragments/fheader::navigation">&nbsp;</div>

<!-- Page Content -->
<section class="py-5">
    <div class="container">

        <div class="row" th:if="${deleted == 1}">
            <div class="col-lg-4">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Producto eliminado correctamente!
                </div>
            </div>
        </div>

        <div class="row" th:if="${result == 1}">
            <div class="col-lg-4">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Producto agregado correctamente!
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <nav aria-label="breadcrumb" role="navigation">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-limegreen font-letter" th:href="@{/index}">SELECCIÓN</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a class="text-limegreen font-letter" href="#"><b>VERIFICACIÓN DE PRODUCTOS</b></a></li>
                        <li class="breadcrumb-item text-darkgrey">VERIFICACIÓN DE ENVÍO</li>
                        <li class="breadcrumb-item text-darkgrey">MÉTODO DE PAGO</li>
                    </ul>
                </nav>
            </div>
            <!--./col-lg-12-->
        </div>
        <!--./row-->
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group margin-bottom text-justify font-letter text-smaller text-darkgrey">
                        <div class="text-center">
                            <img th:src="@{/img/shopping-cart.png}" alt="shopping-cart-image" height="100%" width="85%"/>
                        </div>
                        <p>Para asegurarnos de que tengas una experiencia de compra agradable con nosotros, te pedimos
                            que por favor verifiques los productos escogidos.</p>
                        <p>Para agregar o quitar productos de un mismo tipo por favor índique la cantidad deseable
                            y guarde los cambios.</p>
                        <p>Para añadir más productos diferentes, puedes ir a escojerlos sin ningun problema, tú carrito
                            de compra se mantendrá aquí <i class="material-icons md-18">insert_emoticon</i></p>
                    </div>
                </div>

                <div class="col-md-9">
                    <table class="table table-hover table-responsive">
                        <caption>*El Precio es sin IVA incluído.</caption>
                        <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio*</th>
                            <th scope="col">Descuento</th>
                            <th scope="col" class="text-center">Subtotal</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sc, iterStat : ${shopping_cart}">
                            <th scope="row" class="col-sm-8 col-md-6">
                                <span style="color:blue;" class="font-letter" th:text="${sc.product.name}"></span>
                            </th>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" th:value="${sc.quantity}" class="form-control" min="1" th:max="${sc.product.productQuantityModel.quantity}" size="2" th:id="'cantidad' + ${iterStat.index}" th:name="'cantidad' + ${iterStat.index}" th:onclick="'verify(' + ${shopping_cart.size()} + ');'" onkeydown="return false"/>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center">$<span th:id="'precio' + ${iterStat.index}" th:text="${sc.product.price}"> </span></td>
                            <td class="col-sm-1 col-md-1 text-center"><span th:id="'descuento' + ${iterStat.index}" th:text="${sc.product.discount.percentage}"> </span>%</td>
                            <td class="col-sm-1 col-md-1 text-center">$<span th:id="'subtotal' + ${iterStat.index}"> </span></td>
                            <td class="col-sm-2 col-md-2 text-center">
                                <!--<a th:href="@{/shopping_cart/updatequantity(sc_id=${sc.idSc},quantity=${document.getElementById('cantidad'+iterStat.index).value})}">-->
                                <!--<a th:href="" th:onclick="'this.href=/shopping_cart/updatequantity?sc_id=' + ${sc.idSc} + '&x=' + document.getElementById('cantidad'+${iterStat.index}).value">-->
                                <a th:href="@{/shopping_cart/updatequantity(sc_id=${sc.idSc}, quantity=3)}">
                                <!--<a href="#">-->
                                    <button type="button" class="btn btn-primary"><i class="material-icons">save</i></button>
                                </a>
                                <a th:href="@{/shopping_cart/deletefromshoppingcart(id_user=${session.userGlobal.id},id_prod=${sc.product.id})}">
                                    <button type="button" class="btn btn-danger"><i class="material-icons">delete_forever</i></button>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Subtotal:</b></td>
                            <td>$ <span id="subtotal">0.00</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>IVA (16%):</b></td>
                            <td>$ <span id="iva">0.00</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Total:</b></td>
                            <td>$ <span id="total">0.00</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a th:href="@{/index}"><button type="button" class="btn btn-secondary">Seguir comprando</button></a></td>
                            <td><button type="button" class="btn btn-success" id="btn_continue">Continuar</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--./row green-area-->
        <!--./content of the div centered -->
    </div>
    <!--./container-->
</section>

<!-- footer & js -->
<div th:replace="front-fragments/ffooter::footer">&nbsp;</div>
<div th:replace="front-fragments/fimports::js">&nbsp;</div>
<script th:src="@{/js/shopping-cart.js}"></script>

</body>
</html>
