<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Envíos</title>
    <!-- Tell the browser to be responsive to screen width -->
    <div th:replace="fragments/imports::css">&nbsp;</div>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="fragments/header::header">&nbsp;</div>
    <div th:replace="fragments/aside::aside">&nbsp;</div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper margin-top">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Envíos
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Envíos</a></li>
                <li class="active">Pendientes</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <div class="label label-warning">
                            Pendientes
                        </div>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th># Envio</th>
                            <th># Usuario</th>
                            <th># Venta</th>
                            <th>Estado</th>
                            <th>Última actualización</th>
                            <th>Detalles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="center" th:each="bill, iterStat : ${billsPending}">
                            <td><a th:href="@{/shippings/searchshipping?id=__${bill.shipping.id}__}"><span th:text="${bill.shipping.id}"></span></a></td>
                            <td><a th:href="@{/users/searchuser?id=__${bill.id_user}__}"><span th:text="${bill.id_user}"></span></a></td>
                            <td><a th:href="@{/sales/searchsale?id=__${bill.id}__}"><span th:text="${bill.id}"></span></a></td>
                            <td>
                                <select th:id="'pending' + ${iterStat.index}" class="form-control selectpicker" th:onchange="'changeStatus(\'pending\', ' + ${bill.shipping.StatusShippingModel.id} + ',' + ${iterStat.index} + ');'">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="En camino">En camino</option>
                                </select>
                            </td>
                            <td th:text="${bill.shipping.StatusShippingModel.last_update}"></td>
                            <td class="center">
                                <a th:href="@{/shippings/searchshipping?id=__${bill.shipping.StatusShippingModel.id}__}"><i class="fa fa-search fa-fw"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th># Envio</th>
                            <th># Usuario</th>
                            <th># Venta</th>
                            <th>Estado</th>
                            <th>Última actualización</th>
                            <th>Detalles</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="row"></div>
            <!-- Default box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <div class="label label-primary">
                            En camino
                        </div>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th># Envio</th>
                            <th># Usuario</th>
                            <th># Venta</th>
                            <th>Estado</th>
                            <th>Última actualización</th>
                            <th>Detalles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="center" th:each="bill, iterStat : ${billsInProgress}">
                            <td><a th:href="@{/shippings/searchshipping?id=__${bill.shipping.id}__}"><span th:text="${bill.shipping.id}"></span></a></td>
                            <td><a th:href="@{/users/searchuser?id=__${bill.id_user}__}"><span th:text="${bill.id_user}"></span></a></td>
                            <td><a th:href="@{/sales/searchsale?id=__${bill.id}__}"><span th:text="${bill.id}"></span></a></td>
                            <td>
                                <select th:id="'inProgress' + ${iterStat.index}" class="form-control selectpicker" th:onchange="'changeStatus(\'inProgress\',' + ${bill.shipping.StatusShippingModel.id} + ',' + ${iterStat.index} + ');'">
                                    <option value="En camino">En camino</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Finalizado">Finalizado</option>
                                </select>
                            </td>
                            <td th:text="${bill.shipping.StatusShippingModel.last_update}"></td>
                            <td class="center">
                                <a th:href="@{/shippings/searchshipping?id=__${bill.shipping.StatusShippingModel.id}__}"><i class="fa fa-search fa-fw"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th># Envio</th>
                            <th># Usuario</th>
                            <th># Venta</th>
                            <th>Estado</th>
                            <th>Última actualización</th>
                            <th>Detalles</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments/aside::aside-right">&nbsp;</div>
    <!-- /.control-sidebar -->
    <div th:replace="fragments/footer::footer">&nbsp;</div>
    <div th:replace="fragments/imports::js">&nbsp;</div>
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->

    <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>

<script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>

<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : true
        })
    })
</script>
<script th:src="@{/js/stateChangeShipping.js}"></script>
</body>
</html>
